Repository SmoothBot/perps-indexer, changes with the owners that CODEOWNERS names for each.
All owners: @rust-indexer-team, @core-maintainers, @indexer-maintainers, @docs-team, @infra-team, @security-team, @release-team

improving schema
  grafana/provisioning/dashboards/address-inspector.json
  grafana/provisioning/dashboards/data-ingestion.json
  grafana/provisioning/dashboards/hyperliquid-overview.json
  indexer/src/app.rs
  indexer/src/main.rs
  indexer/src/market.rs
  indexer/src/store.rs
  migrations/0001_complete_schema.sql
  migrations/0001_init.sql
  migrations/0002_hourly_user_stats.down.sql
  migrations/0002_hourly_user_stats.sql
  update_dashboards.py
Owners: @rust-indexer-team, @indexer-maintainers

mvp working
  charts.txt
  grafana/provisioning/dashboards/address-inspector.json
  grafana/provisioning/dashboards/data-ingestion.json
  grafana/provisioning/dashboards/hyperliquid-overview.json
  grafana/provisioning/dashboards/markets-overview.json
  grafana/provisioning/dashboards/whale-tracker.json
  indexer/src/store.rs
Owners: @rust-indexer-team, @indexer-maintainers

better matterialised views + improved dashboards
  grafana/provisioning/dashboards/address-inspector.json
  grafana/provisioning/dashboards/data-ingestion.json
  grafana/provisioning/dashboards/hyperliquid-overview.json
  grafana/provisioning/dashboards/markets-overview.json
  grafana/provisioning/dashboards/trader-analytics.json
  grafana/provisioning/dashboards/whale-tracker.json
  indexer/src/store.rs
  migrations/0005_optimize_market_type_queries.sql
  migrations/0006_hourly_materialized_views.sql
  migrations/0007_market_summary_view.sql
  migrations/0008_trader_analytics_views.sql
Owners: @rust-indexer-team, @indexer-maintainers

cleaning
  Justfile
  grafana/provisioning/dashboards/address-inspector.json
  grafana/provisioning/dashboards/data-ingestion.json
  indexer/src/incremental_stats.rs
  indexer/src/ingest/s3_source.rs
  indexer/src/pipeline.rs
  indexer/src/store.rs
  migrations/0001_complete_schema.sql
  migrations/0005_optimize_market_type_queries.sql
  migrations/0006_hourly_materialized_views.sql
  migrations/0007_market_summary_view.sql
  migrations/0008_trader_analytics_views.sql
Owners: @rust-indexer-team, @indexer-maintainers

fix migration
  indexer/src/ingest/s3_source.rs
  indexer/src/store.rs
  migrations/0001_complete_schema.sql
Owners: @rust-indexer-team, @indexer-maintainers

create dockerfile for backfill
  Dockerfile
  EC2_DEPLOYMENT.md
  docker-compose.yaml
  scripts/backfill-loop.sh
  scripts/ec2-backfill.sh
  scripts/indexer-backfill.service
Owners: @rust-indexer-team, @infra-team, @docs-team

delete compose
  docker-compose.yml
Owners: @rust-indexer-team, @infra-team

fix docker build
  Dockerfile
  Dockerfile.prebuilt
  docker-compose.yaml
Owners: @rust-indexer-team, @infra-team

support linux
  Dockerfile.linux
  docker-compose.yaml
Owners: @rust-indexer-team

CODEOWNERS:

# Global code owners
* @rust-indexer-team

# Core library
/core/ @rust-indexer-team @core-maintainers

# Indexer binary
/indexer/ @rust-indexer-team @indexer-maintainers

# Documentation
/docs/ @rust-indexer-team @docs-team
*.md @rust-indexer-team @docs-team

# CI/CD and infrastructure
/.github/ @rust-indexer-team @infra-team
/Dockerfile @rust-indexer-team @infra-team
/docker-compose.yml @rust-indexer-team @infra-team

# Security-sensitive files
/SECURITY.md @rust-indexer-team @security-team
/deny.toml @rust-indexer-team @security-team

# Release and configuration
/Cargo.toml @rust-indexer-team @release-team
/rust-toolchain.toml @rust-indexer-team @release-team
